*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

.star{
 text-align: center;
 height: 300px;
 border: 1px solid rgb(181, 181, 181);
 box-shadow: 5px 5px 5px;
 border-radius: 15px;

}
.star img,h4,h3{
    padding-top: 15px;
}
.star h4{
    font-size: 50px;
}

.container{
    width: 40%;
    display: grid;
    grid-template-columns:repeat(3,24%);
    row-gap: 4%;
    column-gap: 2%;
    justify-content: center;
}

.Score{
    width: 25%;
    height: 200px;
    border: 1px solid rgb(181, 181, 181);
    box-shadow: 5px 5px 5px;
    text-align: center;
}
.Score h1{
 padding-top: 20px;
 font-size: 50px;
}
.all-container{
    display: flex;
}

@media (max-width:1260px){
    .container{
        display: grid;
        grid-template-columns: repeat(1,30%);
    }
    .container   img{
        max-width: 80%;
    }

    .Score{
        width: 200px;
        text-align: right;
        margin-left: 50px;
      
    }

  }